.container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {
  padding: 7px;
  box-shadow: 0 0 3px black;
  width: 100px;
  margin: 20px auto;
  display: block;
  border-radius: 7px;
  background-color: white;
  color: red;
  transition: ease 0.3s;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: red;
  color: white;
  box-shadow: 4px 1px 5px black;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
